<div class="form_div_50">
  <table>
    <thead>
    <tr>
      <td>Plaats</td>
      <td>Aantal</td>
      <td>Skill</td>
    </tr>
    </thead>
    <tbody>
    <% plaats = 1 %>
    <% @skillstats.each do |item| %>
        <tr>
          <td><%= plaats.to_s %></td>
          <td><%= item.count %></td>
          <td><%= item.skill %></td>
        </tr>
    <% plaats = plaats + 1 %>
    <% end %>
    </tbody>
  </table>
</div>


<div class="form_div_50">
  <table>
    <thead>
    <tr>
      <td>Plaats</td>
      <td>Aantal</td>
      <td>Education</td>
    </tr>
    </thead>
    <tbody>
    <% plaats = 1 %>
    <% @educationstats.each do |item| %>
        <tr>
          <td><%= plaats.to_s %></td>
          <td><%= item.count %></td>
          <td><%= item.education %></td>
        </tr>
        <% plaats = plaats + 1 %>
    <% end %>
    </tbody>
  </table>
</div>



