<h2>U heeft gezocht op <%= @p[:functie] %>, in <%= @p[:locatie] %>, voor <%= @p[:uren] %> uur binnen een afstand van <%= @p[:afstand] %> kilometer.</h2>

<% @res.each do |test| %>

<p><%= test.locatie %>, <%= test.functie %>, <%= test.uren %> uur.</p>

<% end %>

<%= @res.empty? %>