<h2> <%= @s1 %>, <%= @s2 %>, <%= @i %>km. </h2>


<h3> Score </h3>
<%= @res.round(2) %>%
<br />

<h3> Afstand </h3>
<%= @res2.to_i %>km

<hr />
<hr />

<h2> <%= @s3 %> </h2>

<h3> Aantal hits </h3>

<% @res3.each do |q| %>
<%= q.skill %>, <%= q.id %> <br />
<%end%>

<% @z.each do |q| %>
<%= q.vacature_id %>, <%=q.vacature.bedrijf%>, <%=q.vacature.plaats%> <br />
<%end%>