<h2>U heeft gezocht op <%= @summary[:u] %>, <%= @summary[:b] %>, <%= @summary[:a] %> uur. </h2>

<h3>Beste match</h3>

<% if @best[0].nil? %>
Geen match gevonden
<% end %>

<% @best.each do |test| %>
<p><%= test.locatie %>, <%= test.functie %>, <%= test.uren %> uur.</p>
<% end %>

<h3>Twee overeenkomsten</h3>

<h4>Locatie / Uren</h4>

<% if @lu[0].nil? %>
Geen match gevonden
<% end %>

<% @lu.each do |v| %>
<p><%= v.locatie %>, <%= v.functie %>, <%= v.uren %> uur.</p>	
<% end %>

<h4>Locatie / Functie</h4>

<% if @lf[0].nil? %>
Geen match gevonden
<% end %>

<% @lf.each do |k| %>
<p><%= k.locatie %>, <%= k.functie %>, <%= k.uren %> uur.</p>
<% end %>

<h4>Functie / Uren</h4>

<% if @uf[0].nil? %>
Geen match gevonden
<% end %>

<% @uf.each do |g| %>
<p><%= g.locatie %>, <%= g.functie %>, <%= g.uren %> uur.</p>
<% end %>